<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-4 rounded-lg bg-red-50 border border-red-200 p-4 text-red-700" data-turbo-cache="false">
    <h2 class="font-semibold">
      <%= I18n.t("errors.messages.not_saved", resource: pluralize(resource.errors.count, "error")) %>
    </h2>
    <ul class="list-disc list-inside space-y-1 text-sm">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
